// تعریف تم‌های رنگی

// تم پیش‌فرض: سرمه‌ای + قرمز
.theme-default {
  --primary: #0A1A35;
  --primary-50: #f2f4f8;
  --primary-100: #e2e7f0;
  --primary-200: #c5d0e3;
  --primary-300: #9aafcf;
  --primary-400: #6c8ab8;
  --primary-500: #4c6fa2;
  --primary-600: #3a5b8a;
  --primary-700: #304a70;
  --primary-800: #2a405e;
  --primary-900: #263551;
  --primary-950: #0A1A35;

  --secondary: #ed1c24;
  --secondary-50: #fef2f3;
  --secondary-100: #fee1e2;
  --secondary-200: #fec8cb;
  --secondary-300: #fca2a6;
  --secondary-400: #f96b70;
  --secondary-500: #f14348;
  --secondary-600: #ed1c24;
  --secondary-700: #ce1419;
  --secondary-800: #aa1316;
  --secondary-900: #8c1518;
  --secondary-950: #4b0508;
}

// تم سرمه‌ای + سبز مغز پسته‌ای
.theme-navy-green {
  --primary: #0A1A35;
  --primary-50: #f2f4f8;
  --primary-100: #e2e7f0;
  --primary-200: #c5d0e3;
  --primary-300: #9aafcf;
  --primary-400: #6c8ab8;
  --primary-500: #4c6fa2;
  --primary-600: #3a5b8a;
  --primary-700: #304a70;
  --primary-800: #2a405e;
  --primary-900: #263551;
  --primary-950: #0A1A35;

  --secondary: #00FF00;
  --secondary-50: #f0fff0;
  --secondary-100: #dcffdc;
  --secondary-200: #beffbe;
  --secondary-300: #91ff91;
  --secondary-400: #52ff52;
  --secondary-500: #14ff14;
  --secondary-600: #00e600;
  --secondary-700: #00c800;
  --secondary-800: #00a000;
  --secondary-900: #008000;
  --secondary-950: #004000;
}

// تم سرمه‌ای + آبی فیروزه‌ای
.theme-navy-blue {
  --primary: #0A1A35;
  --primary-50: #f2f4f8;
  --primary-100: #e2e7f0;
  --primary-200: #c5d0e3;
  --primary-300: #9aafcf;
  --primary-400: #6c8ab8;
  --primary-500: #4c6fa2;
  --primary-600: #3a5b8a;
  --primary-700: #304a70;
  --primary-800: #2a405e;
  --primary-900: #263551;
  --primary-950: #0A1A35;

  --secondary: #00f7ff;
  --secondary-50: #f0feff;
  --secondary-100: #e0fdff;
  --secondary-200: #bcfcff;
  --secondary-300: #85f9ff;
  --secondary-400: #42f5ff;
  --secondary-500: #0becff;
  --secondary-600: #00d8ff;
  --secondary-700: #00b5d6;
  --secondary-800: #0090ad;
  --secondary-900: #07778e;
  --secondary-950: #064a59;
}

// تم سرمه‌ای + طلایی
.theme-navy-gold {
  --primary: #0A1A35;
  --primary-50: #f2f4f8;
  --primary-100: #e2e7f0;
  --primary-200: #c5d0e3;
  --primary-300: #9aafcf;
  --primary-400: #6c8ab8;
  --primary-500: #4c6fa2;
  --primary-600: #3a5b8a;
  --primary-700: #304a70;
  --primary-800: #2a405e;
  --primary-900: #263551;
  --primary-950: #0A1A35;

  --secondary: #ffff3c;
  --secondary-50: #fefff0;
  --secondary-100: #feffdc;
  --secondary-200: #fefea8;
  --secondary-300: #feff71;
  --secondary-400: #ffff54;
  --secondary-500: #ffff3c;
  --secondary-600: #eded00;
  --secondary-700: #c1c100;
  --secondary-800: #999900;
  --secondary-900: #7c7c0a;
  --secondary-950: #3d3d00;
}

// تم سرمه‌ای + صورتی
.theme-navy-pink {
  --primary: #0A1A35;
  --primary-50: #f2f4f8;
  --primary-100: #e2e7f0;
  --primary-200: #c5d0e3;
  --primary-300: #9aafcf;
  --primary-400: #6c8ab8;
  --primary-500: #4c6fa2;
  --primary-600: #3a5b8a;
  --primary-700: #304a70;
  --primary-800: #2a405e;
  --primary-900: #263551;
  --primary-950: #0A1A35;

  --secondary: #ff8da1;
  --secondary-50: #fff1f3;
  --secondary-100: #ffe4e7;
  --secondary-200: #ffccd4;
  --secondary-300: #ffa3b3;
  --secondary-400: #ff8da1;
  --secondary-500: #ff5c77;
  --secondary-600: #fc2c4e;
  --secondary-700: #e01331;
  --secondary-800: #bd142d;
  --secondary-900: #9d1829;
  --secondary-950: #55060f;
}

// تم سرمه‌ای + نارنجی
.theme-navy-orange {
  --primary: #0A1A35;
  --primary-50: #f2f4f8;
  --primary-100: #e2e7f0;
  --primary-200: #c5d0e3;
  --primary-300: #9aafcf;
  --primary-400: #6c8ab8;
  --primary-500: #4c6fa2;
  --primary-600: #3a5b8a;
  --primary-700: #304a70;
  --primary-800: #2a405e;
  --primary-900: #263551;
  --primary-950: #0A1A35;

  --secondary: #ff8400;
  --secondary-50: #fff8eb;
  --secondary-100: #ffecc7;
  --secondary-200: #ffd88a;
  --secondary-300: #ffbf4d;
  --secondary-400: #ffa01f;
  --secondary-500: #ff8400;
  --secondary-600: #e46a00;
  --secondary-700: #bc4d05;
  --secondary-800: #953d0c;
  --secondary-900: #7a350f;
  --secondary-950: #461a03;
}

// تم سرمه‌ای + کرمی
.theme-navy-cream {
  --primary: #0A1A35;
  --primary-50: #f2f4f8;
  --primary-100: #e2e7f0;
  --primary-200: #c5d0e3;
  --primary-300: #9aafcf;
  --primary-400: #6c8ab8;
  --primary-500: #4c6fa2;
  --primary-600: #3a5b8a;
  --primary-700: #304a70;
  --primary-800: #2a405e;
  --primary-900: #263551;
  --primary-950: #0A1A35;

  --secondary: #f3ddb9;
  --secondary-50: #fefbf5;
  --secondary-100: #fcf6e9;
  --secondary-200: #f9ecd5;
  --secondary-300: #f6e1c0;
  --secondary-400: #f3ddb9;
  --secondary-500: #ecc28e;
  --secondary-600: #e0a866;
  --secondary-700: #cb8b47;
  --secondary-800: #ab6f3b;
  --secondary-900: #8c5c35;
  --secondary-950: #4c2f1a;
} 