@layer base {
    h1 {
      @apply text-4xl font-bold md:text-5xl lg:text-6xl;
    }
  
    h2 {
      @apply text-3xl font-bold md:text-4xl;
    }
  
    p {
      @apply text-base md:text-lg;
    }
  }
  
@layer utilities {
  .font-kaman {
    font-family: Kaman, IRANYekan, system-ui, sans-serif;
  }
}